<div class="lg:p-2 xl:p-4 2xl:p-8 flex flex-col md:flex-row pt-4 lg:pt-2 border-gray-200 md:border-t">
  <div class="mb-8 md:w-48 xl:w-72 md:mb-0 border-gray-200 border-b md:border-b-0">
    <h1 class="text-2xl md:text-base font-bold text-gray-700 tracking-tighter"><%= t("lesson.createlesson")%></h1>
    <p class="text-gray-400 text-xs tracking-widest"><%= t("lesson.createalesson")%></p>
  </div>
  <%= render partial: 'grades/lessons/lesson_form', locals: {form_url: grades_course_lessons_path(@course) }%>
</div>
