<%= simple_form_for @import_student, url: import_ed_record_index_path do |f| %>
  <%= f.input(
    :attachment,
    as: :file,
    input_html: { accept: ".csv, .xls, .xlsx" }
  ) %>
  <div class="actions mt-14">
    <%= f.button :submit, t("edrecord.importrecord") %>
  </div>
<% end %>
