<div class="shadow-md px-2 mb-3 sm:flex items-stretch border border-gray-100"> 
  <div class="border-b border-gray-100 py-1 sm:w-1/2 sm:border-b-0 sm:px-1 md:flex md:flex-col md:justify-center">
    <p class="text-lg font-semibold tracking-tight"><%= lesson_type.name %></p>
  </div>
  <div class="py-1 sm:w-1/2 sm:px-1 md:flex items-center justify-between">
    <div class="text-right">
      <%= render partial: "icon_button", locals: {
          url: edit_grades_course_lesson_type_path(@course, lesson_type),
          style: "btn-sm text-blue-500",
          icon: ["far", "edit"],
        }
      %>
      <%= puts grades_course_lesson_type_path(@course, lesson_type)%>
      <%= render partial: "icon_button", locals: {
          url: grades_course_lesson_type_path(@course, lesson_type),
          style: "btn-sm text-red-500",
          method: :delete,
          icon: ["far", "trash-alt"],
          data: {
            confirm: t("lesson_type.lesson_type_delete_message"),
          }
        }
      %>
    </div>
  </div>
</div>

