<div class="mb-12">
  <div class="mb-2">
    <% if current_school.logo.attached? %>
      <%= image_tag(current_school.logo) %>
    <% else %>
      <%= image_tag("school-logo.png") %>
    <% end %>
  </div>
  <h1 class="text-base text-center text-blue-900">
    <%= current_school.name %>
  </h1>
</div>
