<!DOCTYPE html>
<html>
  <head>
    <title>ESCHOOLTUL</title>
    <%= render "layouts/assets" %>
  </head>
  <body>
    <div class="w-full flex flex-col min-h-screen">
      <%= yield %>
    </div>
  </body>
</html>
