<!DOCTYPE html>
<html>
  <head>
    <title>ESCHOOLTUL</title>
    <%= render "layouts/assets" %>
  </head>
  <body>
    <div class="w-full flex flex-col min-h-screen">
      <div class="wrap min-h-screen flex relative" x-data="{ sidebarOpen: false, userSettingsOpen: false }"> 
        <%= render "layouts/sidebar" %>
        <div class="main">
          <%= render "layouts/header" %>
          <div class="main-content lg:pl-4 py-4 xl:pl-8 2xl:pl-16">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
